# 🚫 Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.cache/

# 🧪 Tests
coverage/
jest-cache/
.vitest/

# 🛠️ IDEs
.idea/
*.swp
*.sublime*

# 📱 React Native (Expo)
.expo/
.expo-shared/
*.apk
*.ipa
*.jks
android/
ios/
web-build/
*.keystore
*.iml

# 🧩 TypeScript
*.tsbuildinfo

# 🧱 Backend
backend/.serverless/
backend/simbolico/__pycache__/
*.pyc

# 🌐 Next.js
.next/
out/
.vercel

# 🖼️ OS Files
*.tmp
*.temp
*.DS_Store
Thumbs.db
desktop.ini
.Spotlight-V100
.Trashes

# ⚙️ Git
*.orig
*.patch
*.rej

# 📦 Archives & dumps
*.zip
*.tar
*.tar.gz
*.rar
*.7z
*.bak
*.sql
*.dump

# 💡 Env files (seguridad)
.env
.env.*
!.env.example

# 💥 Cache folders
.eslintcache
.cache/
.parcel-cache/
.turbo/

# 📊 Logs
lerna-debug.log*
.pnpm-debug.log*
logs/
*.log

# 🔐 Certificados y claves
*.pem
*.p12
*.key
*.crt
*.cer
private/

# ================== Amplify ==================
# Ignorar archivos temporales generados por Amplify CLI
amplify/#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp

# ⚠️ Incluir archivos críticos para CI/CD y CodeGPT
!amplify/backend/**
!amplify/team-provider-info.json
!.config/project-config.json
!mobile-app/aws-exports.js

# Ignorar duplicados innecesarios
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
