[submodule "Multi-Agent-Custom-Automation-Engine-Solution-Accelerator"]
	path = Multi-Agent-Custom-Automation-Engine-Solution-Accelerator
	url = https://github.com/microsoft/Multi-Agent-Custom-Automation-Engine-Solution-Accelerator.git
