service: boat-rental-backend
frameworkVersion: "3"

provider:
  name: aws
  runtime: nodejs18.x
  region: us-east-1
  stage: ${opt:stage, 'dev'}
  environment:
    STAGE: ${self:provider.stage}
    DYNAMODB_TABLE_USERS: UsersTable
    JWT_SECRET: your-secret
    JWT_EXPIRES_IN: 7d

functions:
  hello:
    handler: src/index.handler
    events:
      - http:
          path: hello
          method: get
          cors: true

  login:
    handler: src/handlers/auth.login
    events:
      - http:
          path: auth/login
          method: post
          cors: true

resources:
  Resources: {}
